body {
  height: 100%;
}

.one-third {
  height: 100%;
  width: 33%;
  display: inline-block;
  float: left;
  background: #0099e5;
  color: white;
}

.two-thirds {
  width: 67%;
  height: 100%;
  display: inline-block;
  float: left;
}

section {
  height: 33.3%;
  color: white;
}

#who {
  background: #ff4c4c;
  font-size: 0
}

#videos {
  background: #34bf49;
}

#build {
  background: #f47721;
}

#profile-picture {
  max-width: 60%;
  margin: 20px auto;
  display: block;
}

#name {
  width: 80%;
  margin: 20px auto;
}

#about-me {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid white;
}

#about-me span {
  width: 150px;
  display: inline-block;
}

h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

h3 {
  font-weight: normal;
}

#who i {
  width: 33.3%;
  text-align: center;
  font-size: 40px;
  line-height: 240px;
  max-height: 100%;
}

#who i:hover {
  background: white;
  color: #ff4c4c;
}