body {
  height: 100%;
}

.one-third {
  height: 100%;
  width: 33%;
  display: inline-block;
  float: left;
  background: #0099e5;
  color: white;
}

.two-thirds {
  width: 67%;
  height: 100%;
  display: inline-block;
  float: left;
}

section {
  height: 33.3%;
  color: white;
}

#who {
  background: #ff4c4c;
}

#videos {
  background: #34bf49;
}

#build {
  background: #f47721;
}

#profile-picture {
  max-width: 60%;
  margin: 20px auto;
  display: block;
}