body {
  height: 100%;
}

.one-third {
  height: 100%;
  width: 33%;
  display: inline-block;
  float: left;
  background: lightblue;
}

.two-thirds {
  width: 67%;
  height: 100%;
  display: inline-block;
  float: left;
  background: lightgrey;
}